.container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.planet {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: inset -20px -20px 30px rgba(255, 255, 255, 0.15),
              inset 20px 20px 30px rgba(0, 0, 0, 0.5),
              5px 5px 15px rgba(0, 0, 0, 0.5);
  animation-timing-function: linear;
  cursor: pointer;
}

.planet1 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/The_Earth_seen_from_Apollo_17_with_transparent_background.png/2058px-The_Earth_seen_from_Apollo_17_with_transparent_background.png');
  background-size: cover;
  top: 50%;
  left: 50%;
  transform-origin: center center -300px;
  animation: rotate1 10s linear infinite;
}

.planet2 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Full_moon.png/600px-Full_moon.png');
  background-size: cover;
  top: 70%;
  left: 50%;
  transform-origin: center center -150px;
  animation: rotate2 15s linear infinite;
}

.planet3 {
  background-image: url('https://png.pngitem.com/pimgs/s/533-5331505_planet-mars-hd-png-download.png');
  background-size: cover;
  top: 30%;
  left: 70%;
  transform-origin: center center -200px;
  animation: rotate3 20s linear infinite;
}

.orbit {
  position: absolute;
  border-radius: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  z-index: -1;
  animation-timing-function: linear;
}

.orbit1 {
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  animation: orbit1 30s linear infinite;
}

.orbit2 {
  top: calc(70% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  animation: orbit2 15s linear infinite;
}

.orbit3 {
  top: calc(30% - 100px);
  left: calc(70% - 100px);
  width: 200px;
  height: 200px;
  animation: orbit3 20s linear infinite;
}

.info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease-out;
  z-index: 1;
}

.planet:hover .info {
  transform: translateX(-50%) translateY(-100%) scale(1);
}

@keyframes rotate2 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate3 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes orbit1 {
  from {
    transform: rotateZ(0);
}
to {
transform: rotateZ(360deg);
}
}

@keyframes orbit2 {
from {
transform: rotateZ(0);
}
to {
transform: rotateZ(360deg);
}
}

@keyframes orbit3 {
from {
transform: rotateZ(0);
}
to {
transform: rotateZ(360deg);
}
}
